
.about-us-container {
    background-color: rgba(131, 118, 118, 0.658);
    margin-top: 20px;
    padding: 50px;
    text-align: center;
    color: #fff;
}

.about-us-content {
    max-width: 800px;
    margin: 0 auto;
}

.about-us-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.about-us-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

